.canvasContent-component {
  .row {
    margin: 0;
  }
  border-top: 1px solid #d4dcde;
  background: repeating-linear-gradient(
    #fafafa,
    #fafafa 10px,
    #ffffff 10px,
    #ffffff 20px
  );
  height: calc(100vh - 142px);
  overflow-y: auto;
  overflow-x: hidden;
}
