<div class="component canvasMenu-component">
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Add New <span class="material-icons"> keyboard_arrow_down </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Workflow</a>
            <a class="dropdown-item" href="#">Screen</a>
            <a class="dropdown-item" href="#">Version</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Plan Options
            <span class="material-icons"> keyboard_arrow_down </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Clone</a>
            <a class="dropdown-item" href="#">Export</a>
            <a class="dropdown-item" href="#">Archive</a>
            <a
              class="dropdown-item"
              href="#"
              data-toggle="modal"
              data-target="#loginSettingModal"
              >Login Options</a
            >
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Flat View</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tab Map</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="custom-control custom-checkbox form-check ">
          <input type="checkbox" class="custom-control-input" id="finalized" />
          <label class="custom-control-label" for="finalized">Finalized</label>
        </div>
        <div class="custom-control custom-checkbox form-check">
          <input
            type="checkbox"
            class="custom-control-input"
            id="secureService"
          />
          <label class="custom-control-label" for="secureService"
            >Secure Service</label
          >
        </div>
      </form>
    </div>
  </nav>
</div>
