<div class="component canvasContent-component droppable">
  <div class="row">
    <div class="col-md-6 bal_builder">
      <div class="form_builder_area"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="col-md-12">
        <form class="form-horizontal">
          <div class="preview"></div>
          <div style="display: none" class="form-group plain_html">
            <textarea rows="50" class="form-control"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
