<div class="component sideNavigation-component">
  <div class="toolbox">
    <ul class="tool-list">
      <li><span class="material-icons design-tool"> color_lens </span></li>
      <li><span class="material-icons account-tree"> account_tree </span></li>
    </ul>
  </div>
  <div class="toolbox__toolPanel" id="resizable">
    <h4 class="heading">Toolbox</h4>
    <div class="accordion" id="sideNavAccordion">
      <div id="designTool">
        <a class="title-header" href="javascript:void(0)"
          data-toggle="collapse"
          data-target="#designToolData"
          aria-expanded="true"
        >
          <span class="material-icons"> navigate_next </span> Design
        </a href="javascript:void(0)">
        <ul
          id="designToolData"
          class="collapse show"
          data-parent="#sideNavAccordion"
        >
        <!-- <li><div class="draggable"> ATTACHMENT</div></li>
        <li><div class="draggable"> BUTTON</div></li>
        <li><div class="draggable"> CHECKBOX</div></li>
        <li><div class="draggable"> CREDIT CARD</div></li>
        <li><div class="draggable"> CREDIT CARD DATE</div></li>
        <li><div class="draggable"> CREDIT CARD CSC</div></li>
        <li><div class="draggable"> CROSS REDIRECT</div></li>
        <li><div class="draggable"> CURRENCY</div></li>
        <li><div class="draggable"> DATA</div></li>
        <li><div class="draggable"> DATE</div></li> -->

        <li class="form_bal_textfield"> <a href="javascript:;">Text Field </a> </li>
        <li class="form_bal_textarea"> <a href="javascript:;">Text Area </a> </li>
        <li class="form_bal_select"> <a href="javascript:;">Select </a> </li>
        <li class="form_bal_radio"> <a href="javascript:;">Radio Button </a> </li>
        <li class="form_bal_checkbox"> <a href="javascript:;">Checkbox </a> </li>
        <li class="form_bal_password"> <a href="javascript:;">Password </a></li>
        <li class="form_bal_button"> <a href="javascript:;">Button</a></li>
        <li class="form_bal_date"><a href="https://www.jqueryscript.net/time-clock/">date</a></li>
        </ul>
      </div>

      <div id="workFlowTool">
        <a class="title-header" href="javascript:void(0)"
          data-toggle="collapse"
          data-target="#workFlowToolData"
          aria-expanded="false"
        >
          <span class="material-icons"> navigate_next </span> Workflow
        </a href="javascript:void(0)">

        <ul
          id="workFlowToolData"
          class="collapse"
          data-parent="#sideNavAccordion"
        >
        <li><div class="draggable"> WORKFLOW 01</div></li>
        <li><div class="draggable"> WORKFLOW 02</div></li>
        <li><div class="draggable"> WORKFLOW 03</div></li>
        <li><div class="draggable"> WORKFLOW 04</div></li>
        <li><div class="draggable"> WORKFLOW 05</div></li>
        </ul>
      </div>

      <div id="exploreTool">
        <a class="title-header" href="javascript:void(0)"
          data-toggle="collapse"
          data-target="#exploreToolData"
          aria-expanded="false"
        >
          <span class="material-icons"> navigate_next </span> Explore
        </a href="javascript:void(0)">

        <ul
          id="exploreToolData"
          class="collapse"
          data-parent="#sideNavAccordion"
        >
        <li><div class="draggable"> EXPLORE 01</div></li>
        <li><div class="draggable"> EXPLORE 02</div></li>
        <li><div class="draggable"> EXPLORE 03</div></li>
        <li><div class="draggable"> EXPLORE 04</div></li>
        <li><div class="draggable"> EXPLORE 05</div></li>
        </ul>
      </div>
    </div>
  </div>
</div>
